*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card{
  float: left;
  width: 400px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.card img{
  width: 100%;
  border-radius: 5px;
}

.car-content h3{
  text-align: center;
  font-size: 1.2rem;
  color: teal;
  margin-bottom: 20px;
}

.car-content{
  padding: 10px 0px;
}
 .btn{
  outline: none;
  border: none;
  background-color: teal;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 130px;
 }

 .card .btn:hover{
  border: 2px solid teal;
  background-color: #fff;
  color: teal;
 }
